body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: #171717;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  /* left: 50%;
  top: 50%; */
  height: 30px;
  width: 450px;
  z-index: 2;
  /* margin-left: -10px;
  margin-top: -32px; */
  transform-origin: 50% 0;
  display: flex;
  justify-content: center;
}

#Logomark {
  opacity: 0;
  /* Initially hide the SVG */
  animation: fadeIn 6s ease-in-out 0.5s forwards;
  /* Animation for fading in */
  margin-top: -13rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .logo {
    width: 250px;
  }
}